In [8]:
import pandas as pd
import requests
import lxml

In [9]:
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 \
    (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}

url = 'https://br.investing.com/equities/brazil'
request = requests.get(url=url, headers=header)

df = pd.read_html(request.text)
df

[    Unnamed: 0                Nome  Último  Máxima  Mínima  Variação    Var%  \
 0          NaN             Rumo ON    1755    1760    1728        16  +0,92%
 1          NaN       Alpargatas PN    2231    2231    2108        74  +3,43%
 2          NaN            Ambev ON    1510    1580    1473        12  +0,80%
 3          NaN  Banco do Brasil ON    3621    3632    3544        66  +1,86%
 4          NaN         Bradesco ON    1442    1444    1411         6  +0,42%
 ..         ...                 ...     ...     ...     ...       ...     ...
 85         NaN     3R Petroleum ON    3183    3194    3054       116  +3,78%
 86         NaN        Rede D'Or ON    3139    3170    3042        43  +1,39%
 87         NaN    CSN Mineração ON     354     357     345        10  +2,91%
 88         NaN            Assaí ON    1619    1675    1590       -17  -1,04%
 89         NaN        Iguatemi Unt    1995    2011    1949        32  +1,63%

       Vol.      Hora  Unnamed: 9
 0    6,97M  17:07:46         NaN
 1    9,05M  17:07:52         NaN
 2   70,06M  17:07:56         NaN
 3    8,09M  17:07:00         NaN
 4    5,83M  18:30:00         NaN
 ..     ...       ...         ...
 85   4,14M  17:07:00         NaN
 86   2,02M  17:07:00         NaN
 87   8,45M  17:07:00         NaN
 88  25,89M  17:07:00         NaN
 89   2,70M  17:07:00         NaN

 [90 rows x 10 columns],
                    Unnamed: 0_level_0                            Empresa  \
                    Unnamed: 0_level_1                            Empresa
 0   quinta-feira, 28 de julho de 2022  quinta-feira, 28 de julho de 2022
 1                                 NaN               Petrobras ON (PETR3)
 2                                 NaN               Petrobras PN (PETR4)
 3                                 NaN                    Vale ON (VALE3)
 4                                 NaN                   Ambev ON (ABEV3)
 5                                 NaN     Santander Brasil Unit (SANB11)
 6                                 NaN                     Hypera (HYPE3)
 7                                 NaN               Klabin Unit (KLBN11)
 8                                 NaN               Isa Cteep PN (TRPL4)
 9                                 NaN               Multiplan ON (MULT3)
 10                                NaN                   Vamos ON (VAMO3)
 11                                NaN             Ecorodovias ON (ECOR3)
 12                                NaN                     Gol PN (GOLL4)

                                   LPA                         / Projeção  \
                                   LPA                         / Projeção
 0   quinta-feira, 28 de julho de 2022  quinta-feira, 28 de julho de 2022
 1                                  --                             / 2,81
 2                                  --                             / 2,81
 3                                  --                             / 4,71
 4                                 019                           / 0,1328
 5                                  --                             / 1,08
 6                                  --                           / 0,6599
 7                                 068                           / 0,6875
 8                                  --                             / 0,53
 9                                  --                           / 0,2562
 10                                 --                           / 0,1339
 11                                 --                           / 0,0264
 12                                -14                            / -1,51

                               Receita                         / Projeção  \
                               Receita                       / Projeção.1
 0   quinta-feira, 28 de julho de 2022  quinta-feira, 28 de julho de 2022
 1                                  --                          / 159,89B
 2                                  --                          / 159,89B
 3                                  --                           / 63,12B
 4                              17,99B                           / 17,19B
 5                                  --                           / 19,17B
 6                                  --                            / 1,82B
 7                               5,04B                             / 4,9B
 8                                  --                            / 1,07B
 9                                  --                          / 412,51M
 10                                 --                            / 1,05B
 11                                 --                            / 1,05B
 12                              3,24B                            / 3,24B

                         Capitalização                               Hora  \
                         Capitalização                               Hora
 0   quinta-feira, 28 de julho de 2022  quinta-feira, 28 de julho de 2022
 1                             428,73B                                NaN
 2                             428,73B                                NaN
 3                             335,10B                                NaN
 4                             237,28B                                NaN
 5                             210,57B                                NaN
 6                              25,49B                                NaN
 7                              21,47B                                NaN
 8                              17,08B                                NaN
 9                              14,46B                                NaN
 10                             11,94B                                NaN
 11                              3,87B                                NaN
 12                              3,38B                                NaN

                    Unnamed: 8_level_0
                    Unnamed: 8_level_1
 0   quinta-feira, 28 de julho de 2022
 1                                 NaN
 2                                 NaN
 3                                 NaN
 4                                 NaN
 5                                 NaN
 6                                 NaN
 7                                 NaN
 8                                 NaN
 9                                 NaN
 10                                NaN
 11                                NaN
 12                                NaN  ,
     0                 1         2         3       4   5   6
 0 NaN          Ibovespa   102.597     1.159  +1,14% NaN NaN
 1 NaN  Ibovespa Futuros   103.505     1.025  +1,00% NaN NaN
 2 NaN            US 500   4.095,9   235.000  +0,58% NaN NaN
 3 NaN             US 30  32.558,7   291.000  +0,09% NaN NaN
 4 NaN       S&P 500 VIX      2233   -91.000  -3,92% NaN NaN
 5 NaN    Bitcoin Futuro  24.057,5 -1075.000  -0,44% NaN NaN
 6 NaN      Índice Dólar    106030  -301.000  -0,28% NaN NaN,
     0                1         2     3       4   5   6
 0 NaN   Petróleo Brent     10240    73  +0,72% NaN NaN
 1 NaN     Petróleo WTI      9738     6  +0,06% NaN NaN
 2 NaN  Café Contrato C     21935    25  +0,11% NaN NaN
 3 NaN             Soja  1.439,00  2900  +2,06% NaN NaN
 4 NaN         Cacau NY  2.319,00 -3600  -1,53% NaN NaN
 5 NaN             Ouro  1.753,70   -80  -0,05% NaN NaN
 6 NaN   Açúcar NY nº11      1773    33  +1,90% NaN NaN,
     0        1      2   3       4   5   6
 0 NaN  USD/BRL  51842  19  +0,04% NaN NaN
 1 NaN  EUR/BRL  52847  19  +0,04% NaN NaN
 2 NaN  EUR/USD  10194  -2  -0,02% NaN NaN
 3 NaN  USD/JPY  13441  14  +0,10% NaN NaN
 4 NaN  GBP/USD  12173   4  +0,03% NaN NaN
 5 NaN  GBP/BRL  63106  -4  -0,01% NaN NaN
 6 NaN  CAD/BRL  40468   3  +0,01% NaN NaN,
     0                  1     2    3       4   5   6
 0 NaN       Petrobras PN  3229   94  +3,00% NaN NaN
 1 NaN            Vale ON  7069   17  +0,24% NaN NaN
 2 NaN             Via ON   251    3  +1,21% NaN NaN
 3 NaN  Magazine Luiza ON   272    2  +0,74% NaN NaN
 4 NaN      IRB Brasil ON   195   -1  -0,51% NaN NaN
 5 NaN              Oi ON    48   -1  -2,04% NaN NaN
 6 NaN             Weg ON  2793  106  +3,94% NaN NaN,
    Unnamed: 0               Nome  Último    Var%     Vol.  Unnamed: 5  \
 0         NaN  Magazine Luiza ON     272  +0,74%  206,64M         NaN
 1         NaN       Petrobras PN    3229  +3,00%  113,62M         NaN
 2         NaN           Ambev ON    1510  +0,80%   70,06M         NaN
 3         NaN        Bradesco PN    1739  +0,75%   32,71M         NaN
 4         NaN   Itaú Unibanco PN    2370  +0,64%   23,52M         NaN
 5         NaN            Vale ON    7069  +0,24%   21,48M         NaN
 6         NaN       Petrobras ON    3473  +2,12%   19,18M         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ,
    Unnamed: 0                                           Nome  Último     Var%  \
 0         NaN  FII RB Capital Desenvolvimento Residencial II     448  +27,27%
 1         NaN                               Wynn Resorts BDR   16366  +21,90%
 2         NaN                                      Coelba PN    3800  +21,60%
 3         NaN                                     Cosern PNB    2100  +19,25%
 4         NaN                                First Solar BDR   22848  +13,33%
 5         NaN                               Infracommerce ON     576  +12,72%
 6         NaN                                     Cosern PNA    2000  +11,11%

       Vol.  Unnamed: 5  Unnamed: 6
 0    0,60K         NaN         NaN
 1    0,00K         NaN         NaN
 2    0,10K         NaN         NaN
 3    0,50K         NaN         NaN
 4    1,51K         NaN         NaN
 5  331,00K         NaN         NaN
 6    1,40K         NaN         NaN  ,
    Unnamed: 0                        Nome  Último     Var%     Vol.  \
 0         NaN          Teladoc Health BDR     613  -18,59%   16,49K
 1         NaN  Stanley Black & Decker BDR   12996  -17,03%    0,03K
 2         NaN    Baxter International BDR   15534  -11,47%    0,03K
 3         NaN                 Comcast BDR    4085  -10,08%  365,61K
 4         NaN  Charter Communications BDR    3750   -9,96%   40,97K
 5         NaN               Alphaville ON    1899   -9,49%    2,80K
 6         NaN      Southwest Airlines BDR   19626   -8,68%    0,01K

    Unnamed: 5  Unnamed: 6
 0         NaN         NaN
 1         NaN         NaN
 2         NaN         NaN
 3         NaN         NaN
 4         NaN         NaN
 5         NaN         NaN
 6         NaN         NaN  ]

In [10]:
for i, table in enumerate(df):
    print('----------------------------')
    print(i)
    print(table)

----------------------------
0
    Unnamed: 0                Nome  Último  Máxima  Mínima  Variação    Var%  \
0          NaN             Rumo ON    1755    1760    1728        16  +0,92%
1          NaN       Alpargatas PN    2231    2231    2108        74  +3,43%
2          NaN            Ambev ON    1510    1580    1473        12  +0,80%
3          NaN  Banco do Brasil ON    3621    3632    3544        66  +1,86%
4          NaN         Bradesco ON    1442    1444    1411         6  +0,42%
..         ...                 ...     ...     ...     ...       ...     ...
85         NaN     3R Petroleum ON    3183    3194    3054       116  +3,78%
86         NaN        Rede D'Or ON    3139    3170    3042        43  +1,39%
87         NaN    CSN Mineração ON     354     357     345        10  +2,91%
88         NaN            Assaí ON    1619    1675    1590       -17  -1,04%
89         NaN        Iguatemi Unt    1995    2011    1949        32  +1,63%

      Vol.      Hora  Unnamed: 9
0    6,97M  17:07:46         NaN
1    9,05M  17:07:52         NaN
2   70,06M  17:07:56         NaN
3    8,09M  17:07:00         NaN
4    5,83M  18:30:00         NaN
..     ...       ...         ...
85   4,14M  17:07:00         NaN
86   2,02M  17:07:00         NaN
87   8,45M  17:07:00         NaN
88  25,89M  17:07:00         NaN
89   2,70M  17:07:00         NaN

[90 rows x 10 columns]
----------------------------
1
                   Unnamed: 0_level_0                            Empresa  \
                   Unnamed: 0_level_1                            Empresa
0   quinta-feira, 28 de julho de 2022  quinta-feira, 28 de julho de 2022
1                                 NaN               Petrobras ON (PETR3)
2                                 NaN               Petrobras PN (PETR4)
3                                 NaN                    Vale ON (VALE3)
4                                 NaN                   Ambev ON (ABEV3)
5                                 NaN     Santander Brasil Unit (SANB11)
6                                 NaN                     Hypera (HYPE3)
7                                 NaN               Klabin Unit (KLBN11)
8                                 NaN               Isa Cteep PN (TRPL4)
9                                 NaN               Multiplan ON (MULT3)
10                                NaN                   Vamos ON (VAMO3)
11                                NaN             Ecorodovias ON (ECOR3)
12                                NaN                     Gol PN (GOLL4)

                                  LPA                         / Projeção  \
                                  LPA                         / Projeção
0   quinta-feira, 28 de julho de 2022  quinta-feira, 28 de julho de 2022
1                                  --                             / 2,81
2                                  --                             / 2,81
3                                  --                             / 4,71
4                                 019                           / 0,1328
5                                  --                             / 1,08
6                                  --                           / 0,6599
7                                 068                           / 0,6875
8                                  --                             / 0,53
9                                  --                           / 0,2562
10                                 --                           / 0,1339
11                                 --                           / 0,0264
12                                -14                            / -1,51

                              Receita                         / Projeção  \
                              Receita                       / Projeção.1
0   quinta-feira, 28 de julho de 2022  quinta-feira, 28 de julho de 2022
1                                  --                          / 159,89B
2                                  --                          / 159,89B
3                                  --                           / 63,12B
4                              17,99B                           / 17,19B
5                                  --                           / 19,17B
6                                  --                            / 1,82B
7                               5,04B                             / 4,9B
8                                  --                            / 1,07B
9                                  --                          / 412,51M
10                                 --                            / 1,05B
11                                 --                            / 1,05B
12                              3,24B                            / 3,24B

                        Capitalização                               Hora  \
                        Capitalização                               Hora
0   quinta-feira, 28 de julho de 2022  quinta-feira, 28 de julho de 2022
1                             428,73B                                NaN
2                             428,73B                                NaN
3                             335,10B                                NaN
4                             237,28B                                NaN
5                             210,57B                                NaN
6                              25,49B                                NaN
7                              21,47B                                NaN
8                              17,08B                                NaN
9                              14,46B                                NaN
10                             11,94B                                NaN
11                              3,87B                                NaN
12                              3,38B                                NaN

                   Unnamed: 8_level_0
                   Unnamed: 8_level_1
0   quinta-feira, 28 de julho de 2022
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
5                                 NaN
6                                 NaN
7                                 NaN
8                                 NaN
9                                 NaN
10                                NaN
11                                NaN
12                                NaN
----------------------------
2
    0                 1         2         3       4   5   6
0 NaN          Ibovespa   102.597     1.159  +1,14% NaN NaN
1 NaN  Ibovespa Futuros   103.505     1.025  +1,00% NaN NaN
2 NaN            US 500   4.095,9   235.000  +0,58% NaN NaN
3 NaN             US 30  32.558,7   291.000  +0,09% NaN NaN
4 NaN       S&P 500 VIX      2233   -91.000  -3,92% NaN NaN
5 NaN    Bitcoin Futuro  24.057,5 -1075.000  -0,44% NaN NaN
6 NaN      Índice Dólar    106030  -301.000  -0,28% NaN NaN
----------------------------
3
    0                1         2     3       4   5   6
0 NaN   Petróleo Brent     10240    73  +0,72% NaN NaN
1 NaN     Petróleo WTI      9738     6  +0,06% NaN NaN
2 NaN  Café Contrato C     21935    25  +0,11% NaN NaN
3 NaN             Soja  1.439,00  2900  +2,06% NaN NaN
4 NaN         Cacau NY  2.319,00 -3600  -1,53% NaN NaN
5 NaN             Ouro  1.753,70   -80  -0,05% NaN NaN
6 NaN   Açúcar NY nº11      1773    33  +1,90% NaN NaN
----------------------------
4
    0        1      2   3       4   5   6
0 NaN  USD/BRL  51842  19  +0,04% NaN NaN
1 NaN  EUR/BRL  52847  19  +0,04% NaN NaN
2 NaN  EUR/USD  10194  -2  -0,02% NaN NaN
3 NaN  USD/JPY  13441  14  +0,10% NaN NaN
4 NaN  GBP/USD  12173   4  +0,03% NaN NaN
5 NaN  GBP/BRL  63106  -4  -0,01% NaN NaN
6 NaN  CAD/BRL  40468   3  +0,01% NaN NaN
----------------------------
5
    0                  1     2    3       4   5   6
0 NaN       Petrobras PN  3229   94  +3,00% NaN NaN
1 NaN            Vale ON  7069   17  +0,24% NaN NaN
2 NaN             Via ON   251    3  +1,21% NaN NaN
3 NaN  Magazine Luiza ON   272    2  +0,74% NaN NaN
4 NaN      IRB Brasil ON   195   -1  -0,51% NaN NaN
5 NaN              Oi ON    48   -1  -2,04% NaN NaN
6 NaN             Weg ON  2793  106  +3,94% NaN NaN
----------------------------
6
   Unnamed: 0               Nome  Último    Var%     Vol.  Unnamed: 5  \
0         NaN  Magazine Luiza ON     272  +0,74%  206,64M         NaN
1         NaN       Petrobras PN    3229  +3,00%  113,62M         NaN
2         NaN           Ambev ON    1510  +0,80%   70,06M         NaN
3         NaN        Bradesco PN    1739  +0,75%   32,71M         NaN
4         NaN   Itaú Unibanco PN    2370  +0,64%   23,52M         NaN
5         NaN            Vale ON    7069  +0,24%   21,48M         NaN
6         NaN       Petrobras ON    3473  +2,12%   19,18M         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
----------------------------
7
   Unnamed: 0                                           Nome  Último     Var%  \
0         NaN  FII RB Capital Desenvolvimento Residencial II     448  +27,27%
1         NaN                               Wynn Resorts BDR   16366  +21,90%
2         NaN                                      Coelba PN    3800  +21,60%
3         NaN                                     Cosern PNB    2100  +19,25%
4         NaN                                First Solar BDR   22848  +13,33%
5         NaN                               Infracommerce ON     576  +12,72%
6         NaN                                     Cosern PNA    2000  +11,11%

      Vol.  Unnamed: 5  Unnamed: 6
0    0,60K         NaN         NaN
1    0,00K         NaN         NaN
2    0,10K         NaN         NaN
3    0,50K         NaN         NaN
4    1,51K         NaN         NaN
5  331,00K         NaN         NaN
6    1,40K         NaN         NaN
----------------------------
8
   Unnamed: 0                        Nome  Último     Var%     Vol.  \
0         NaN          Teladoc Health BDR     613  -18,59%   16,49K
1         NaN  Stanley Black & Decker BDR   12996  -17,03%    0,03K
2         NaN    Baxter International BDR   15534  -11,47%    0,03K
3         NaN                 Comcast BDR    4085  -10,08%  365,61K
4         NaN  Charter Communications BDR    3750   -9,96%   40,97K
5         NaN               Alphaville ON    1899   -9,49%    2,80K
6         NaN      Southwest Airlines BDR   19626   -8,68%    0,01K

   Unnamed: 5  Unnamed: 6
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN
5         NaN         NaN
6         NaN         NaN

In [11]:
df = pd.DataFrame(df[0])

In [12]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,1755,1760,1728,16,"+0,92%","6,97M",17:07:46,NaN
1,NaN,Alpargatas PN,2231,2231,2108,74,"+3,43%","9,05M",17:07:52,NaN
2,NaN,Ambev ON,1510,1580,1473,12,"+0,80%","70,06M",17:07:56,NaN
3,NaN,Banco do Brasil ON,3621,3632,3544,66,"+1,86%","8,09M",17:07:00,NaN
4,NaN,Bradesco ON,1442,1444,1411,6,"+0,42%","5,83M",18:30:00,NaN
...,...,...,...,...,...,...,...,...,...,...
85,NaN,3R Petroleum ON,3183,3194,3054,116,"+3,78%","4,14M",17:07:00,NaN
86,NaN,Rede D'Or ON,3139,3170,3042,43,"+1,39%","2,02M",17:07:00,NaN
87,NaN,CSN Mineração ON,354,357,345,10,"+2,91%","8,45M",17:07:00,NaN
88,NaN,Assaí ON,1619,1675,1590,-17,"-1,04%","25,89M",17:07:00,NaN
89,NaN,Iguatemi Unt,1995,2011,1949,32,"+1,63%","2,70M",17:07:00,NaN

In [13]:
df['Último'] = df['Último'] / 100
df['Máxima'] = df['Máxima'] / 100
df['Mínima'] = df['Mínima'] /100

In [14]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,17.55,17.60,17.28,16,"+0,92%","6,97M",17:07:46,NaN
1,NaN,Alpargatas PN,22.31,22.31,21.08,74,"+3,43%","9,05M",17:07:52,NaN
2,NaN,Ambev ON,15.10,15.80,14.73,12,"+0,80%","70,06M",17:07:56,NaN
3,NaN,Banco do Brasil ON,36.21,36.32,35.44,66,"+1,86%","8,09M",17:07:00,NaN
4,NaN,Bradesco ON,14.42,14.44,14.11,6,"+0,42%","5,83M",18:30:00,NaN
...,...,...,...,...,...,...,...,...,...,...
85,NaN,3R Petroleum ON,31.83,31.94,30.54,116,"+3,78%","4,14M",17:07:00,NaN
86,NaN,Rede D'Or ON,31.39,31.70,30.42,43,"+1,39%","2,02M",17:07:00,NaN
87,NaN,CSN Mineração ON,3.54,3.57,3.45,10,"+2,91%","8,45M",17:07:00,NaN
88,NaN,Assaí ON,16.19,16.75,15.90,-17,"-1,04%","25,89M",17:07:00,NaN
89,NaN,Iguatemi Unt,19.95,20.11,19.49,32,"+1,63%","2,70M",17:07:00,NaN

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [32]:
df.drop('Unnamed: 9', axis=1, inplace=True)

In [33]:
df

,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora
0,Rumo ON,17.55,17.60,17.28,16,"+0,92%","6,97M",17:07:46
1,Alpargatas PN,22.31,22.31,21.08,74,"+3,43%","9,05M",17:07:52
2,Ambev ON,15.10,15.80,14.73,12,"+0,80%","70,06M",17:07:56
3,Banco do Brasil ON,36.21,36.32,35.44,66,"+1,86%","8,09M",17:07:00
4,Bradesco ON,14.42,14.44,14.11,6,"+0,42%","5,83M",18:30:00
...,...,...,...,...,...,...,...,...
85,3R Petroleum ON,31.83,31.94,30.54,116,"+3,78%","4,14M",17:07:00
86,Rede D'Or ON,31.39,31.70,30.42,43,"+1,39%","2,02M",17:07:00
87,CSN Mineração ON,3.54,3.57,3.45,10,"+2,91%","8,45M",17:07:00
88,Assaí ON,16.19,16.75,15.90,-17,"-1,04%","25,89M",17:07:00
89,Iguatemi Unt,19.95,20.11,19.49,32,"+1,63%","2,70M",17:07:00

In [34]:
df.to_csv('AçõesBrasil')